<div class="container  text-center mt-5 pt-5" style="background: none;">
     <img src="/product/empty-wishlist.png" class="pt-5 mt-5" alt="">
     
    <h5 class="pr-5"><a href="/" class="btn btn-warning">Continue Shopping..</a></h5>
</div>