<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb ">
  <div class="container">
    <div
      class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end"
    >
      <div class="col-first">
        <h1>Login/Register</h1>
        <nav class="d-flex align-items-center">
          <a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
          <a href="category.html">Login/Register</a>
        </nav>
      </div>
    </div>
  </div>
</section>
<!-- End Banner Area -->

<!--================Login Box Area =================-->
<section class="login_box_area section_gap">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="login_box_img">
          <img class="img-fluid" src="user/img/login.jpg" alt="" />
          <div class="hover">
            <h4>New to our website?</h4>
            <p>There are advances being made in science and technology everyday,
              and a good example of this is the</p>
            <a class="primary-btn" href="/signup">Create an Account</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="login_form_inner">
          <h3>Log in to enter</h3>
          {{#if loginErr}}
          <p class="error text-danger">Invalid username or Password</p>
          {{/if}}
          <form
            class="row login_form"
            action="/login"
            method="post"
            id="loginForm"
          >
            <div class="col-md-12 form-group">

              <input
                type="email"
                class="form-control"
                id="name"
                name="email"
                placeholder="email"
                onfocus="this.placeholder = ''"
                onblur="this.placeholder = 'Email'"
                
              />
            </div>

            <div class="col-md-12 form-group">
              <input
                type="password"
                class="form-control"
                id="password"
                name="password"
                placeholder="Password"
                onfocus="this.placeholder = ''"
                onblur="this.placeholder = 'Password'"
               
              />
            </div>
           
            <div class="col-md-12 form-group">
              <button type="submit" value="submit" class="primary-btn">Log In</button>
               <div class="otp">
								<a href="/otpForm" class="btn ml-1" id="yo">Login -with OTP</a>
							</div>
              <a href="/forgot-password">Forgot Password?</a>
        
              {{!-- <a class="btn btn-success" href="/signup">login via OTP</a> --}}
              <!-- Button trigger modal -->
 </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Button trigger modal -->

<script>
	$(document).ready(function () {
		$('#loginForm').validate()
	})
	function myFunction() {
		var x = document.getElementById("password");
		if (x.type === "password") {
			x.type = "text";
		} else {
			x.type = "password";
		}
	}
</script>
     

<!--================End Login Box Area =================-->