{{!-- <div
  class="container height-100 d-flex justify-content-center align-items-center">
  <form action="/otp" method="post">
  <div class="position-relative">
    <div class="card p-2 text-center">
      <h6> Enter your phonenumber</h6>
      
      <div id="otp" class="justify-content-center mt-2">
        <input
          class="m-2 text-center form-control rounded"
          type="tel"
          
          maxlength="10"
        />
       
      </div>
      <div class="mt-4">
        <a class="btn btn-dark" type="submit">send otp</a>
      </div>
    </div>
   
  </div>
  </form>
</div> --}}