
<div class="container-fluid mt-5 pt-5">
    <div class="">
        <div class="ctgt">
            <a href="#" target="_blank">
                <img class="img-fluid d-block mx-auto mt-5 pt-2"
                    src="/product/not.webp" alt="">
            </a>
        </div>
        <div class="col-md-12 text-center">
					<a class="btn primary-btn m-1 ml-3" style="" href="/">Go to Home</a>
				</div>
        
    </div>
</div>x